<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Modifier Etudiant</title>
      <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

 <div class="container"> <br />
  <div class="row">
      <div class="card col-md-7 offset-md-2 offset-md-3"> <br />
          <h3 class="text-center">Modifier Etudiant</h3>
          <div class='card-body'>
              <form th:action="@{/ModifierEtudiantController}" th:object="${etudiantByCIN}" method="post" enctype="application/json">
                 <!-- Utilisez les champs du modèle EtudiantModel pour afficher et modifier les données -->
                 <div class="form-group row">
                      <label class="col-sm-3 col-form-label">CIN Etudiant :</label>
                      <div class="col-sm-9">
                          <input name="cin" th:field="*{cin}" placeholder="Saisissez la CIN de l'étudiant" class="form-control" style="background-color: #f2f2f2;" required readonly  />
                      </div>
                  </div><br/>
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Nom Etudiant :</label>
                      <div class="col-sm-9">
                          <input name="nom" th:field="*{nom}" placeholder="Saisissez le nom de l'étudiant" class="form-control" required autocomplete="off" />  <!-- required -->
                      </div>
                  </div> <br/>
                   <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Prénom Etudiant :</label>
                      <div class="col-sm-9">
                          <input name="prenom" th:field="*{prenom}" placeholder="Saisissez le prénom de l'étudiant" class="form-control" required autocomplete="off" />
                      </div>
                  </div><br/>
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Date Naissance :</label>
                      <div class="col-sm-9">
                          <input name="dateNaissance" type="date" th:field="*{dateNaissance}" class="form-control" required />
                      </div>
                  </div><br/>
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Téléphone :</label>
                      <div class="col-sm-9">
                          <input name="telephone" type="number" th:field="*{telephone}" placeholder="Saisissez le numéro de téléphone de l'étudiant" class="form-control" required />
                      </div>
                  </div><br/>
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Email Etudiant :</label>
                      <div class="col-sm-9">
                          <input name="email" type="email" th:field="*{email}" placeholder="Saisissez l'email de l'étudiant" class="form-control" required autocomplete="off" />
                      </div>
                  </div><br/>

                  <div class="form-group row">
                                  <div class="col-sm-5 offset-sm-8" >
                                      <button type="submit" class="btn btn-success">Enregistrer</button>
                                      
                                      <button type="button" class="btn btn-danger" onClick="Annuler();" style="margin-left:5px">Annuler</button>
                                
                                   </div>
                              </div>
              </form>
              </div>
              </div>
                </div>
                </div><br/><br/>


    <script>
        function Annuler() {
            if (window.confirm("Voulez-vous vraiment annuler ?")) {
                location.replace("/consulter-etudiant");  
            }
        }
    </script>

</body>
</html>